<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Homepage</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="icon" href="/img/favicon.png" />
  <link rel="stylesheet" href="/css/styles.min.css" />


  <style>
  
  </style>
</head>

<body>

  <div class="centered-form">

    <div class="centered-form__box">
      <div class="personal-image">
        <label class="label">
          <form id="photoForm" action="/uploadImage" method="POST" enctype="multipart/form-data">
            <input name="myImage" type="file" />
            <!-- <input name="myImage" type="file" onchange="readURL(this);" /> -->
          </form>
          <figure class="personal-figure">
            <% if (user.avatar) { %>
              <img id="blah" src="../uploads/<%=user.avatar%>" class="personal-avatar" alt="avatar">
              <% } else { %>
                <img id="blah"
                  src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
                  class="personal-avatar" alt="avatar">
                <% } %>
                  <figcaption class="personal-figcaption">
                    <img
                      src="https://raw.githubusercontent.com/ThiagoLuizNunes/angular-boilerplate/master/src/assets/imgs/camera-white.png">
                  </figcaption>
          </figure>
        </label>
      </div>
      <h1>Join</h1>
      <form action="/chat">
        <label>Room</label>
        <input type="number" name="room" placeholder="Room Number" required>
        <button type="submit">Join</button>
      </form>
    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/scripts/homepage.js"></script>
</body>

</html>