<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Homepage</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  Chat App

  <div id="messages"></div>

  <form id="form1">
    <input name="message" id="message" type="text" placeholder="Type here" required />
    <button type="submit">Send</button>
  </form>
  <br />
  <button id="share-location">Share location</button>

  <script id="message-template" type="text/html">
      <div>
        <p>{{message}} - {{createdAt}} </p>
      </div>
    </script>
  <script id="location-message-template" type="text/html">
      <div>
        <p>
          <a href={{url}} target="_blank">Location</a>
          - {{createdAt}}</p>
      </div>
    </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.0/mustache.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/query-string/7.1.1/index.js"></script> -->


  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/chat.js"></script>
</body>

</html>